.fourthSection{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}
.fourthSection>div{
  width: 40%;
}
.fourleftSection img{
    height: 500px;
    margin: 60px 0;
}
.fourrightSection{
    height: 600px;
    margin-top:60px;
    text-align: justify;
}

.h1class{
  margin-left: 1px ;
  color: rgb(165, 165, 243);
}
.contact{
    color:rgba(255, 255, 255, 0.548);
}
.iconclass{
    margin-left: 150px ;
    font-size: 30px;
    justify-content: space-between;
    color: rgb(78, 27, 173);
}
.iconclass i:hover {
    color: rgb(228, 228, 228);
  }
